body {
  width: 700px;
  max-width: 100%;
  margin: 24px auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.btn {
  border: 0px;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.btn + .btn {
  margin-left: 12px;
}

.task {
  padding: 6px 0 6px 12px;
  border-left: 4px solid #fff;
  margin: 12px 0 0 0;
  position: relative;
}

.reminder {
  border-left: 4px solid lightgreen;
  background-color: beige;
}

/* Form */

.add-form {
  border: 1px solid lightblue;
  padding: 12px;
  margin: 12px 0;
}

.form-control {
  margin: 4px 0;
  display: flex;
}

.form-control label {
  width: 100px;
}
.form-control input {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid lightgray;
  height: 24px;
  line-height: 24px;
}

.btn-form {
  padding: 12px;
}
